@import "boilerplate.scss";

.darkstyle {
  @include darkstyle;
  @include columns;

  .inner {
    @include page-width;
    margin: 0;
    padding-top: $horizontal-margin;
    padding-bottom: 2rem;
    min-height: 70vh;
    align-items: flex-end;
    width: calc(61rem / 2);
    overflow: visible;
    &:first-child {
      margin-left: calc((100% / 2) - (#{$content-width} / 2));
      flex-basis: calc(50% - ((100% / 2) - (#{$content-width} / 2)));
      padding-left: 0;
      * {
        margin: 0;
      }
      strong {
        color: $color-primary;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &:nth-child(2) {
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      flex: 1 0 auto;
    }
  }
  @media screen and (max-width: 940px) {
    .inner {
      margin: 0;
      padding-top: $horizontal-margin;
      padding-bottom: 2rem;
      align-items: inherit;
     flex-direction: column;
      min-height: auto;
      justify-content: flex-end;
      &:first-child {
        margin-left: 0rem;
        flex-basis: calc(50% - 2rem);
        padding: 1rem;
      }
      &:nth-child(2) {
        flex: 1 0 40%;
        height: auto;
      }
    }
  }
  @media screen and(max-width: 720px) {
    .inner {
      flex-wrap: wrap;
      &:first-child {
        padding: 1rem;
        order: 2;
        flex-basis: calc(100% - 2rem);
      }
      &:nth-child(2) {
        flex: 0 0 calc(100% - 4rem);
        height: 40vh;
        order: 1;
      }
    }
  }
}
.section {
  flex-direction: column;
  @include page-width;
  h1 {
    margin: 0;
  }
  h2 {
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-primary;
  }
  p {
    width: 100%;
  }
}
.skillicon {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 2rem;
  &:not(:last-child) {
    margin: 2rem 0;
  }
  svg {
    font-size: 2.5rem;
    fill: $color-primary;
    transition: $transition-base;
    padding: 1rem;
    width: calc((100% / 5));
    background: $gray-lighter;
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  @media screen and(max-width: 720px) {
     flex-wrap: wrap;
     flex-direction: column;
    svg {
      width: calc((100% - 2rem));
      &:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 1rem;
      }
    }
  }
}
