@import "boilerplate.scss";
.inner {
  @include page-width;

  p {
    margin-left: 2rem;
    border-left: 1px solid black;
    padding-left: 2rem;
  }
  a {
    color: $color-primary;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  @media screen and(max-width: 720px) {
    flex-wrap: wrap;
    p {
      margin-left: 0rem;
      padding-left: 1rem;
    }
  }
}
.blog {
  @include page-width;
  @include columns;
  margin-top: 0px;
  ol {
    display: flex;
    flex-basis: 100%;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    flex-basis: calc(50% - 0.5rem);
    border: 1px solid $gray-light;
    display: flex;
    justify-content: space-between;
    /*&:not(:last-child) {
      margin-bottom: 1rem;
    }*/

    div {
      padding: 1rem;
    }
    div:nth-child(2) {
      background: black;
      display: flex;
      align-items: center;
      transition: $transition-base;
      a {
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      &:hover {
        background: $color-primary;
        a {
          text-decoration: none;
        }
      }
    }
  }
  @media screen and(max-width: 940px) {
    margin-top: 0px;
  }
  @media screen and(max-width: 720px) {
    ol li {
      flex-wrap: wrap;
      flex-basis: 100%;

      div {

        flex-basis: 100%;
      }
    }
    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
