@import "boilerplate.scss";
.position {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  width: 100%;
}
.menuLevelNull {
  padding: 1rem 0 1rem 0;
  //border-bottom: 1px solid $color-primary;
  border-bottom: 1px solid $gray-light;
  //margin-bottom: 3rem;

  nav {
    display: flex;
    //justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: $content-width;
    margin: 0 auto;
    h2,
    h2 a {
      //flex-basis: 100%;
      flex-basis: auto;
      margin-bottom: 0px;
      font-size: 2.5rem;
      color: $color-primary;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2rem;
      // -webkit-text-stroke: 1px $color-primary;
      text-transform: uppercase;
      a {
        font-weight: 300;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
    ul {
      // justify-content: left;
     justify-content: space-between;
    //  justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
      text-align: right;
      flex-basis: 100%;
      //flex-basis: auto;
      padding: 0px;
      li {
        display: flex;
        flex: 0 0 auto;
        a {
          color: $gray-dark;
          text-decoration: none;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          transition: $transition-base;
          position: relative;
          font-size: 1.2rem;
          &:before {
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transition: $transition-base;
            transform: translateX(-50%);
            background: $color-primary;
            border-radius: 100%;
            opacity: 0;
          }

          &:hover {
            color: $color-primary;
            text-decoration: none;
            font-weight: 400;
            &:before {
              opacity: 1;
            }
          }
        }
        &:not(:first-child) {
          margin: 0 0 0 2rem;
          display: inline-block;
        }
      }
      //Active Link Style
      [aria-current]:not([aria-current="false"]) {
        color: $color-primary;
        text-decoration: none;
        //padding: 10px 5px;
        //border: 1px solid $color-primary;
        border-radius: 5px;
        font-weight: 400;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}
