@import "boilerplate.scss";

.banner {
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 70vh;
  width: 100%;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .bannercontent {
    @include page-width;
    padding: 1rem;
    position: relative;
    &:before {
      content: "";
      width: 520px;
      height: 520px;
      position: absolute;
      left: -5rem;
      top: -2rem;
      background: rgba(white, 0.65);
      transform: rotate(45deg);
    }
    .inner {
      flex-basis: 40%;
      overflow: visible;
      position: relative;

      h1 {
        color: white;
        mix-blend-mode: difference;
        font-weight: 900;
        font-size: 8.5rem;
        line-height: 7rem;
        letter-spacing: -2px;
        margin-left: -6px;
      }
      h2 {
        text-transform: uppercase;
        color: $gray-darker;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 100;
        margin-bottom: 0px;
      }
    }
  }
  @media screen and(max-width: 720px) {
    .bannercontent {
      &:before {
        content: "";
        width: 400px;
        height: 400px;
        position: absolute;
        left: -4rem;
        top: 0rem;
      }
      .inner h1 {
        font-size: 5.5rem;
        line-height: 5rem;
        margin-left: 0px;
      }
    }
  }
}
.container {
  @include page-width;
  align-items: inherit;
}

.white {
  @include page-width;
  align-items: inherit;
  flex-direction: column;

  p {
    margin-bottom: 0px;
  }
  h2 {
    margin: 0px;
    text-align: left;
    width: 100%;
  }
  h3 {
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 1rem;
  }
}

.darkstyle {
  @include darkstyle;
  .inner {
    @include page-width;
    flex-direction: column;

    h2 {
      margin: 0px;
      text-align: left;
      min-width: 100%;
    }
    h3 {
      letter-spacing: 1px;
      font-weight: 300;
      color: $color-primary;
      margin-bottom: 1rem;
      min-width: 100%;
    }
  }
}
.columnsthreeouter {
  @include columns;
}
.threecolumns {
  flex-basis: calc(100% / 3 - 2rem);
  padding: 1rem;
  border: 1px solid #1e1e1e;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  strong {
    color: $color-primary;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  @media screen and (max-width: 940px) {
    flex-basis: calc(40% - 2rem);
    flex-grow: 1;

    &:nth-child(even) {
      margin-right: 0rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  @media screen and(max-width: 720px) {
    flex-basis: 100%;
    &:first-child {
      margin-right: 0rem;
    }
  }
}
